!!! 5
= erb :conditional
%head
  %title How about that Weather?
  %meta{ :name => 'viewport', :content => 'width=device-width' }
  %meta{ :charset => 'utf-8' }

  %link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Lobster&v2', 'type' => 'text/css' }
  %link{'rel' => 'stylesheet', 'href' => 'http://fonts.googleapis.com/css?family=Tienne&v2', 'type' => 'text/css' }
  %link{'rel' => 'stylesheet', 'href' => 'stylesheets/foundation/foundation.css', 'type' => 'text/css'}
  %link{'rel' => 'stylesheet', 'href' => 'stylesheets/howaboutthatweather.css', 'type' => 'text/css'}
  /[if let IE 9]
    %link{'rel' => 'stylesheet', 'href' => 'stylesheets/foundation/ie.css', 'type' => 'text/css'}
    %script{ :type => 'text/javascript', :src => 'javascript/html5shim.js' }

%body
  #header
    .row
      %h1.twelve.phone-four.columns.align-center How about that Weather?
    .row
      %h2.twelve.phone-four.columns.align-center &hellip; in
    %form{ :type => "POST", :action => "/" }
      .row
        .six.centered.phone-two.columns
          %input.input-text{ :type => :text, :id => "query", :name => "query",
            :placeholder => "location", :value => @query }

  - unless @weather_data.nil?
    %ul
      - for weather in @weather_data
        %li.day.row
          .twelve.phone-four.columns= weather.time
        %li.data.row
          %canvas.three.phone-one.columns{ "data-hour" => 12 }
          %span.condition.three.phone-one.columns= weather.conditions
          %span.temp.six.phone-two.columns= "#{weather.low} - #{weather.high}"
    #footer.row
      .twelve.phone-four.columns
        :markdown
          Built by Nick Canzoneri, [email](canzoneri.nicholas@gmail.com) or [twitter](https://twitter.com/#!/ac3522).

          Code available on [Github](https://github.com/ac3522/howaboutthatweather).
